[submodule "shiori/yaya"]
	path = shiori/yaya
	url = https://github.com/Tatakinov/yaya-shiori
[submodule "shiori/aosora"]
	path = shiori/aosora
	url = https://github.com/Tatakinov/aosora-shiori
[submodule "shiori/satori"]
	path = shiori/satori
	url = https://github.com/Tatakinov/satoriya-shiori
[submodule "shiori/kawari"]
	path = shiori/kawari
	url = https://github.com/Tatakinov/kawari
[submodule "sorakado/ao_builtin"]
	path = sorakado/ao_builtin
	url = https://github.com/Tatakinov/ao_builtin
[submodule "sorakado/ai_builtin"]
	path = sorakado/ai_builtin
	url = https://github.com/Tatakinov/ai_builtin
